*{ /* recetea todo el contenido*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ /* Cuerpo del html*/
    display: flex;
    align-items: center; /* Alignia los elementos*/
    justify-content: center; /* Define como el navegador distribuye los espacios entre los items*/
    height: 100vh;/* Tamaño de altura*/
    font-family: Arial,Arial, Helvetica, sans-serif; /* Define una lsta de fuentes*/

}

.formulario, .recuperar{
    background: #fff;
    display: inline-block;
    padding-left: 25px;   /* Fija un relleno al lado izquierdo*/
    padding-top: 40px;    /* Fija un relleno al lado superios*/
    padding-right: 25px;  /* Fija un relleno al lado derecho*/
    padding-bottom: 40px; /* Fija un relleno al lado inferior*/
    box-sizing: border-box; /* Ancho de un elemento*/
    border-radius: 15px;  /*Redondeo*/
    margin-left: 30%; /*Margen izquierdo*/
    width: 400px; /*Tamaño*/
    min-width: 300px; /*Anchura de un elemento*/
    border-top-right-radius: 15px; /*Redondeo*/
    border-bottom-right-radius: 15px; /*Redondeo*/
    border: 2px solid rgb(12, 41, 85); /*Tamaño el border y color*/
    margin: 10px; /*Margen*/
}

.formulario h1, .recuperar h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #bdbbbb;
}

.formulario input , .recuperar input{
    display: block;
    margin: auto;
    height: 45px;
    width: 80%;
    color: #fff; /*Color*/
    border: 1px solid #bdbbbb;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent; /*Trasparencia de un elemento*/
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    outline: none; /*Estilo de controno de un elemento*/
}


.formulario input, .recuperar input[type="password"]{
    margin-top: 20px;
    color: rgb(112, 108, 108);
}

.formulario button{
    display: block;
    margin: auto;
    margin-top: 25px;
    box-sizing: border-box;
    border-radius: 25px;
    color: #9a9494;
    margin-bottom: 25px;
    height: 40px;
    width: 80%;
    background: transparent;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #bdbbbb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.2rem;

}

#registrarse {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    color: black;   
}

#recuperar{
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: black; 
}


#registrarse a, #recuperar a{
    color: rgb(15, 15, 233);
    text-decoration: none;
}

#registrarse a:hover, #recuperar a:hover{
    text-decoration: underline;
}

/* Pagina de registro*/

.formularioRegistro h1, .recuperar h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #bdbbbb;
}

.formularioRegistro{
    background: #fff;
    display: inline-block;
    padding-left: 40px; 
    padding-top: 10px;  
    padding-right: 40px; 
    padding-bottom: 20px; 
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 30%;
    height: 600px;
    width: 350px;
    min-width: 3    00px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid rgb(12, 41, 85);
    margin: 3px;
}

.formularioRegistro input{
    display: block;
    margin: auto;
    height: 35px;
    width: 80%;
    color: #fff;
    border: 1px solid #bdbbbb;
    border-radius: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

.formularioRegistro select{
    display: block;
    margin: auto;
    height: 35px;
    width: 80%;
    color: #fff;
    border: 1px solid #bdbbbb;
    border-radius: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

.formularioRegistro input[type="password"],input[type="email"],
input[type="text"], input[type="date"]{
    margin-top: 15px;
    color: rgb(112, 108, 108);
}

.formularioRegistro select{
    margin-top: 15px;
    color: rgb(112, 108, 108);
}


.formularioRegistro select:hover{
    transition: .5s;
    border: 1px solid rgb(105, 94, 174);
    color: black;
}

.formularioRegistro button{
    display: block;
    margin: auto;
    margin-top: 25px;
    color: #9a9494;
    margin-bottom: 25px;
    height: 40px;
    width: 80%;
    background: transparent;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #bdbbbb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

}


/**/


.formulario input:hover, .formularioRegistro input:hover, .recuperar input:hover{
    transition: .5s; /*Forma de animar*/
    border: 1px solid rgb(105, 94, 174);
    color: black;
}



.formulario button:hover, .formularioRegistro button:hover{
    transition: .5s;
    border: 2px solid rgb(105, 94, 174);
    color: black;
}

